    .bg-light {
        border-bottom: #bbb0b0 solid 2px;
        background-color: white!important;
    }
    
    .navbar-brand {
        padding-left: 30px!important;
    }
    
    .row {
        display: flex;
    }
    
    .col {
        margin: 3%;
    }
    
    .container {
        margin-top: 50px;
    }
    
    .btn-danger {
        width: 350px;
        height: 60px;
        color: white;
        border-radius: 50px!important;
    }
    
    .img1 {
        transition: opacity 2s, margin-top 1s;
    }
    
    .img1:hover {
        background-color: #bbb0b0;
        opacity: 50%;
        margin-top: -10px;
    }
    
    .form {
        margin-left: -10000px;
        text-align: center;
        transition: margin-top 1s;
    }
    
    .form .col {
        transition: margin-top 1s;
    }
    
    .form .col:hover {
        margin-top: -10px;
    }
    
    .color .row {
        background-color: #094593;
        height: 300px;
        border-radius: 10px;
    }
    
    .color .col {
        margin: 0%;
        margin-top: 2%
    }
    
    .color2 .col {
        margin: 0%;
        margin-top: 30%
    }
    
    .card {
        height: 550px!important;
    }
    
    .card img {
        transition: transform 2s ease-in-out;
        border-bottom: 1px dotted black;
        max-width: 100%;
    }
    
    .card img:hover {
        transform: scale(1.1);
    }
    
    @media(max-width:767px) {
        .hh4 {
            margin-left: -10%;
        }
        .form {
            text-align: center;
            margin-left: 14px;
            margin-top: -180px;
        }
        .img1 {
            width: 331px;
            margin-left: -15px;
        }
        .card {
            margin-left: 13%;
        }
    }
    
    @media(max-width:750px) {
        .card {
            max-width: 300px;
        }
        .color .col {
            margin-left: -40px!important
        }
    }
    
    @media(max-width:950px) {
        .card {
            margin-left: 20%
        }
    }